<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.myarscreenshot">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application>
        <service
            android:name=".MediaProjectionService"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection"
            android:exported="false" />
    </application>
</manifest>
